.sidebar{
    position:fixed;
    left: 0;
    bottom: 0;
    top: 70px;
    width: 90px;
    z-index: 400;
}

.sidebar-link{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75px;
    transition:background-color 0.15s;
}

.sidebar-link:hover{
    background-color: rgb(240, 240, 240);
}

.img-sidebar{
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-bottom: 5px;
}

.sidebar-link div{
    font-family: Arial;
    font-size: 9px;
}
