body {
    background-color: rgb(255, 255, 240);
  }
  
  .EmailEditor {
    background-color: #ffffdd;
  }
  
  #main {
    width: 400px;
    background-color: #ddffee;
    padding: 0px 10px;
    margin: 0px auto;
  }
  
  .imgHelp {
    cursor: pointer;
    color: blue;
    background-color: #ddffee;
    top: 10px;
    right: 10px;
    padding: 10px;
    float: right;
    margin-right: 35%;
    position: relative;
  }
  
  p {
    padding: 5px;
    background-color: #cfc;
    position: absolute;
    left: 6rem;
    border: solid 2px #e4e7e7;
    color: #303030;
  }
  
  #help {
    width: 500px;
    height: 420px;
    top: 10px;
    background-color: #cfc;
    padding: 0px 10px;
    display: none;
    border: solid #e4e7e7 2px;
    color: #303030;
    margin: 0px auto;
  }
  
  .Close {
    text-align: right;
    color: blue;
    cursor: pointer;
    float: right;
  }
  
  ul li {
    list-style-image: url("img/bullet.jpg");
    list-style-type: square;
    list-style-position: inside;
  }
  
  .form-group {
    display: flex;
    width: 100%;
    margin: 10px 0px;
  }
  
  .form-group label {
    width: 20%;
    float: left;
    text-align: right;
    padding-right: 10px;
  }
  
  .form-group input.EmailEditor {
    float: left;
    width: 80% !important;
  }
  
  .form-group textarea {
    scrollbar-3dlight-color: #c0c0c0;
    scrollbar-shadow-color: silver;
    scrollbar-arrow-color: black;
    scrollbar-face-color: gray;
    width: 80% !important;
  }
  
  .form-group button {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  